{{outlet}}

<div class="jumbotron">
<div class="user">
  <h1> {{model.name}} </h1>
</div>

<div class="user">
  <p> email: {{model.email}} </p>
</div>

<div class="user">
  <p> username: {{model.username}} </p>
</div>


<div class="user">
<p><a class="btn btn-primary btn-lg">{{link-to 'artists' 'artist'}}</a></p>
</div>
</div>
