<div class="container">
  <ul>
    {{#each model as |artist|}}
    <li>
      <strong>{{artist.name}}</strong>
        <p>{{artist.location}}</p>
      <em>Biography</em>
        <p>{{artist.bio}}</p>
      {{#each artist.pieces as |piece|}}
        <p>{{piece.title}}</p>
      {{/each}}
      {{#each artist.exhibitions as |exhibition|}}
        <p>{{exhibition.location}}</p>
      {{/each}}
      </li>
    {{/each}}
  </ul>
</div>
